NLogConsoleApp/.vs/
NLogConsoleApp/NLogConsoleApp/bin/
NLogConsoleApp/NLogConsoleApp/obj/
TestNLogWebApplication/.vs/
TestNLogWebApplication/TestNLogWebApplication/bin/
TestNLogWebApplication/TestNLogWebApplication/obj/
